@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: normal;
  src: url('/fonts/ptsans-400.woff2') format('woff2');
  font-display: "swap";
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: normal;
  src: url('/fonts/ptsans-700.woff2') format('woff2');
  font-display: "swap";
}

:root {
  --background-color-body: #F2F2F2;
  --background-color-basic-1: #FFFFFF;
  --background-color-basic-3: #82B3D3;
  --background-color-secondary-1: #83B3D31E;
  --background-color-secondary-2: #83B3D333;
  --button-color-basic: #756157;
  --button-color-secondary: #82B3D3;
  --button-color-selected: #7DB54F;
  --form-element-primary-color: #E5E5E5;
  --form-element-secondary-background: #F2F2F2;
  --form-input-background: #3F5E72;
  --text-color-basic: #000000;
  --text-color-secondary: #333333;
  --text-color-onbackground: #FFFFFF;
  --text-color-error: #FF5757;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: var(--background-color-body);
  color: var(--text-color-basic);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

.advantages-item-expanded-wrapper {
  display: flex;
}

/* ADVANTAGES */
.advantages-intro {
  text-align: center;
  padding: 63px 273px 90px;
}

.advantages-item-container {
  width: 400px;
  padding: 100px 85px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-description {
  color: var(--text-color-secondary);
}

.advantages-title {
  margin-bottom: 30px;
}

.advantages-item-title {
  margin-bottom: 30px;
}

.advantages-item {
  text-align: center;
}

.advantages-item-standard {
  background-color: var(--background-color-secondary-1);
}

.advantages-item-centered {
  background-color: var(--background-color-secondary-2);
}

.advantages-item-accent {
  width: 100%;
  color: var(--text-color-onbackground);
}

.advantages-item-accent-container {
  padding: 92px 85px;
  background-color: var(--background-color-basic-3);
}

.advantages-item-number {
  display: block;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-description {
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color-secondary);
}

.advantages-item-description-accent {
  color: var(--text-color-onbackground);
}

.breadcrumbs-list {
  display: flex;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: var(--text-color-background);
}

/* BUTTON */
.button {
  text-align: center;
  font-family: inherit;
  border-radius: 4px;
  color: var(--text-color-onbackground);
}

.button-basic-color {
  background-color: var(--button-color-basic);
}

.button-secondary-color {
  background-color: var(--button-color-secondary);
}

.button-selected {
  background-color: var(--button-color-selected);
}

.button-big {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

.button-small {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.button-like-normal {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.button-like-nonecase {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

/* CATALOG */
.catalog-search {
  padding: 35px 70px;
  color: var(--text-color-onbackground);
  background-image: url('../images/background-mountains_blurred.jpg');
  background-repeat: no-repeat;
}

.catalog-searchbox {
  display: flex;
}

/* FOOTER */
.footer-address {
  font-style: normal;
}

.footer-address-phone {
  font-size: 40px;
  line-height: 40px;
  color: var(--text-color-basic);
  text-align: center;
  text-transform: uppercase;
}


.heading-1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.heading-2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.heading-3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.heading-3-non-case {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.heading-4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.hotels-amount-show {
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color-secondary);
}

.hotels-option {
  color: var(--text-color-secondary);
}

.hotel-type {
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color-secondary);
}

.hotel-price {
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color-secondary);
}

.hotel-rating {
  color: var(--text-color-secondary);
  background-color: var(--form-element-secondary-background);
}


/* INVITATION */
.invitation {
  display: flex;
  flex-direction: column;
  padding: 90px 313px;
  text-align: center;
}

.invitation-title {
  margin-bottom: 30px;
}

.invitation-disclaimer {
  margin-bottom: 55px;
  color: var(--text-color-secondary);
}

.main-container {
  flex-grow: 1;
}

/* NAVIGATION */
.navigation {
  width: calc(100% - 70px*2);
  display: flex;
  margin: 0 auto;
}

.navigation-link {
  color: var(--text-color-basic);
}

.navigation-list {
  display: flex;
}

.navigation-links {
  margin-right: auto;
}

.navigation-links .navigation-item:not(:last-child) {
  margin-right: 30px
}

.navigation-user .navigation-item:not(:last-child) {
  margin-right: 25px
}

/* NEWSLETTER */
.newsletter {
  padding: 94px 200px;
  text-align: center;
}

.newsletter-with-background {
  color: var(--text-color-onbackground);
  background-image: url(../images/background-mountains_blurred.jpg);
  background-repeat: no-repeat;
}

.newsletter-disclaimer {
  margin-bottom: 45px;
}

.newsletter-form-input {
  background-color: var(--form-element-secondary-background);
  font-size: 18px;
  line-height: 21px;
}

.newsletter-title {
  margin-bottom: 30px;
}

.page-container {
  width: 1200px;
  background-color: var(--background-color-basic-1);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-header-logo {
  margin-right: 30px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
}

.pagination {
  display: flex;
}

.pagination-link {
  color: var(--text-color-onbackground);
}

.pagination-current {
  color: var(--text-color-basic);
  background-color: var(--form-element-secondary-background);
}

.price-option {
  color: var(--text-color-secondary);
  font-size: 18px;
  line-height: 21px;
}

/* RECOMMENDATIONS */
.recommendations-item {
  width: calc(100% / 3);
  padding: 80px 85px;
  text-align: center;
  background-color: var(--background-color-secondary-1);
}

.recommendations-item-center {
  background-color: var(--background-color-basic-1);
}

.recommendations-title {
  color: var(--text-color-basic);
  margin-bottom: 30px;
}

.recommendations-description {
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color-secondary);
}

.recommendations-list {
  display: flex;
}

/* SEARCH */
.search-filter {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.search-fieldset {
  border-style: none;
}

.search-label {
  font-size: 18px;
  line-height: 21px;
}

.search-results {
  padding: 50px 70px 25px;
}

.welcome {
  background-image: url(../images/background-canyon.jpg);
  background-repeat: no-repeat;
}


/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */
