@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: normal;
  src: url('/fonts/ptsans-400.woff2') format('woff2');
  font-display: "swap";
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: normal;
  src: url('/fonts/ptsans-700.woff2') format('woff2');
  font-display: "swap";
}

:root {
  --background-color-body: #F2F2F2;
  --background-color-basic-1: #FFFFFF;
  --background-color-basic-3: #82B3D3;
  --background-color-secondary-1: #83B3D31E;
  --background-color-secondary-2: #83B3D333;
  --button-color-basic: #756157;
  --button-color-basic-hover: #615048;
  --button-color-secondary: #82B3D3;
  --button-color-secondary-hover: #68A2CA;
  --button-color-selected: #7DB54F;
  --button-color-selected-hover: #6C9E42;
  --button-color-disabled: #E5E5E5;
  --form-element-primary-color: #E5E5E5;
  --form-element-secondary-background: #F2F2F2;
  --form-input-background: #3F5E72;
  --icon-color-basic: #000000;
  --icon-color-secondary: #83B3D3;
  --icon-color-secondary-hover: #68A2CA;
  --icon-color-secondary-active: #68a2ca4d;
  --icon-color-text: #7DB54F;
  --input-border-color: #E5E5E5;
  --input-border-color-hover: #68A2CA;
  --input-border-color-active: #3F5E72;
  --input-border-color-disabled: #0000004d;
  --text-color-basic: #000000;
  --text-color-secondary: #333333;
  --text-color-onbackground: #FFFFFF;
  --text-color-onbackground-hover: #ffffff99;
  --text-color-active: #ffffff4d;
  --text-color-error: #FF5757;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: var(--background-color-body);
  color: var(--text-color-basic);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol,
fieldset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input {
  border: none;
  font-family: inherit;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* ADVANTAGES */
.advantages-intro {
  padding: 59px 272px 90px;
  text-align: center;
}

.advantages-item-container {
  padding: 100px 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.advantages-item-expanded-wrapper {
  display: flex;
}

.advantages-item-image {
  object-fit: cover;
}

.advantages-item-standard .advantages-item-title,
.advantages-item-centered .advantages-item-title {
  max-width: min-content;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-description {
  color: var(--text-color-secondary);
}

.advantages-title {
  margin-bottom: 30px;
}

.advantages-item-standard {
  background-color: var(--background-color-secondary-1);
}

.advantages-item-centered {
  background-color: var(--background-color-secondary-2);
}

.advantages-item-accent {
  grid-column: 1 / -1;
  color: var(--text-color-onbackground);
}

.advantages-item-accent-container {
  padding: 92px 85px;
  background-color: var(--background-color-basic-3);
}

.advantages-item-number {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-description {
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color-secondary);
}

.advantages-item-description-accent {
  color: var(--text-color-onbackground);
}

.breadcrumbs {
  margin-bottom: 40px;
}

.breadcrumbs-item {
  display: flex;
  align-items: flex-end;
}

.breadcrumbs-item:not(:last-child)::after {
  margin: 0 10px;
  content: url("../images/icons/breadcrumbs.svg");
}

.breadcrumbs-list {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 21px;
  color: var(--text-color-background);
}

.breadcrumbs-link:hover {
  color: var(--text-color-onbackground-hover);
}

.breadcrumbs-link:active {
  color: var(--text-color-active);
}

/* BUTTON */
.button {
  text-align: center;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  color: var(--text-color-onbackground);
  padding: 12px 15px;
}

button:hover,
.button:hover {
  cursor: pointer;
}

.button:active {
  color: var(--text-color-active);
}

.button-amount-set {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background-color: inherit;
  color: #0000004d;
}

.button-amount-set:hover,
.button-amount-set:focus {
  color: var(--text-color-basic);
}

.button-amount-set:focus {
  outline: 3px solid #83B3D3;
}

.button-amount-set:active {
  color: #0000004d;
}

.button-basic-color {
  background-color: var(--button-color-basic);
}

.button-basic-color:hover,
.button-basic-color:focus {
  background-color: var(--button-color-basic-hover);
}

.button-secondary-color {
  background-color: var(--button-color-secondary);
}

.button-secondary-color:hover,
.button-secondary-color:focus {
  background-color: var(--button-color-secondary-hover);
}

.button-selected {
  background-color: var(--button-color-selected);
}

.button-selected:hover,
.button-selected:focus {
  background-color: var(--button-color-selected-hover);
}

.button-big {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

.button-close {
  width: 53px;
  height: 53px;
  border-color: transparent;
  border-radius: 50%;
  background-image: url('../images/icons/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 54px;
  right: 70px;
}

.button-close:hover,
.button-close:focus {
  background-color: #E6E6E6;
}

.button-close:focus {
  outline: 3px solid #83B3D3;
}

.button-close:active {
  background-image: url("../images/icons/close-active.svg");

}

.button-small {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.button-like-normal {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.button-like-nonecase {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.button-view-toggler {
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  background-repeat: no-repeat;
  background-position: center;
}

.button-view-toggler:hover {
  border: 2px solid #000000;
}

.button-view-toggler:focus {
  border: 2px solid #68A2CA;
}

.button-view-toggler:active,
.button-view-toggler-selected {
  border: 2px solid #000000;
}

.button-view-toggler-table {
  background-image: url('../images/icons/table-view.svg');
}

.button-view-toggler-slides {
  background-image: url('../images/icons/slide-view.svg');
}

.button-view-toggler-list {
  background-image: url('../images/icons/list-view.svg');
}

/* CATALOG */
.catalog-search {
  padding: 35px 70px 70px;
  color: var(--text-color-onbackground);
  background-image: url('../images/background-mountains_blurred.jpg');
  background-repeat: no-repeat;
}

.catalog-searchbox {
  display: flex;
  justify-content: space-between;
}

.catalog-searchbox-left-container,
.catalog-searchbox-right-container {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.catalog-searchbox-left-container .search-fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.catalog-title {
  margin-bottom: 3px;
}

.favourites-amount {
  display: inline-block;
  padding: 3px;
  position: absolute;
  top: 16px;
  right: -2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--icon-color-text);
  color: var(--text-color-onbackground);
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -.1em;
  text-align: center;
}

/* FOOTER */
.footer-address {
  font-style: normal;
}

.footer-contacts {
  font-size: 40px;
  line-height: 40px;
  color: var(--text-color-basic);
  text-align: center;
  text-transform: uppercase;
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: #756157;
}

.footer-contacts:active {
  color: #7561574d;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-social-link {
  color: var(--icon-color-secondary);
}

.footer-social-link:hover,
.footer-social-link:focus {
  color: var(--icon-color-secondary-hover);
}

/* HEADING */
.heading-1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.heading-2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.heading-3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.heading-3-non-case {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.heading-4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

/* HOTEL */
.hotel-star {
  align-self: center;
}

.hotel-star::after {
  display: block;
  content: '';
  background-image: url('../images/icons/star.svg');
  background-repeat: repeat-x;
  width: 20px;
  height: 20px;
}

.hotel-star-2:after {
  width: 40px;
}

.hotel-star-3:after {
  width: 60px;
}

.hotel-star-4:after {
  width: 80px;
}

.hotels-amount-select {
  width: 160px;
  padding: 14px 20px;
  border: 2px solid var(--form-element-primary-color);
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.hotels-amount-show {
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color-secondary);
  margin-left: auto;
  margin-right: 51px;
}

.hotels-search-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 62px 70px 70px;
  width: 715px;
  max-width: 100%;
  border-radius: 30px;
  background-color: #FFFF;
  z-index: 2;
}

.modal-closed {
  display: none;
}

.hotels-search-modal-content {
  display: grid;
  grid-template-columns: 155px 133px 155px 133px;
  row-gap: 40px;
  align-items: center;
}

.hotels-search-modal-title {
  margin-bottom: 63px;
}

.label-children {
  justify-self: end;
}

.label-information {
  position: relative;
  display: inline-block;
  margin-right: 18px;
  width: 25px;
  height: 25px;
  background-color: #83B3D3;
  background-image: url("../images/icons/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  vertical-align: middle;
}

.label-information:hover {
  background-color: #68A2CA;
}

.label-information-tooltip {
  display: block;
  position: absolute;
  top: 42px;
  left: -117px;
  width: 256px;
  padding: 15px 18px 18px 22px;
  background: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-transform: none;
}

.label-information-tooltip::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #333333;
  position: absolute;
  top: -9px;
  left: 120px;
}

.modal-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
}

.hotels-search-submit {
  grid-column: 1 / -1;
  border-radius: 10px;
  border-color: transparent;
}

.hotels-search-submit:focus {
  outline: 3px solid #756257;
}

.input-date {
  grid-column: 2 / -1;
  background-color: var(--form-element-secondary-background);
  border-radius: 4px;
  padding: 15px 17px;
  appearance: none;
  background-image: url(../images/icons/calendar.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.input-date::placeholder {
  font-size: 18px;
  line-height: 40px;
  color: #00000099;
}

.input-date::-webkit-inner-spin-button,
.input-date::-webkit-calendar-picker-indicator {
  opacity: 0;
  -webkit-appearance: none;
}

.input-date:hover,
.input-date:focus {
  background-color: #E6E6E6;
}

.input-date:focus {
  outline: 3px solid #83B3D3;
}

.input-date:active {
  outline: 2px solid #000000;
}

.hotels-search-input-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--form-element-secondary-background);
  border-radius: 4px;
  padding: 14px 19px;
}

.hotels-search-input[type="number"] {
  background-color: inherit;
  color: var(--text-color-basic);
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.hotels-search-input[type="number"]::placeholder {
  color: var(--text-color-basic);
}

.hotels-option {
  color: var(--text-color-secondary);
}

.hotel-card {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  padding: 20px;
}

.hotel-card .button {
  padding: 9px 15px;
}

.hotel-name,
.hotel-image {
  grid-column: 1 / -1;
}

.hotel-image {
  object-fit: cover;
}

.hotels-list {
  display: grid;
  gap: 0 18px;
  grid-template-columns: 340px 340px 340px;
  padding-bottom: 66px;
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: 30px;
}

.hotel-type {
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color-secondary);
}

.hotel-price {
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color-secondary);
}

.hotel-rating {
  color: var(--text-color-secondary);
  background-color: var(--form-element-secondary-background);
}

.icon-accomodation {
  background-image: url("../images/icons/house.svg");
}

.icon-accomodation>svg>path {
  fill: red;
}

.icon-food {
  background-image: url("../images/icons/burger.svg");
}

.icon-souvenirs {
  background-image: url("../images/icons/gift.svg");
}

.input-comment {
  font-size: 16px;
  line-height: 21px;
  position: absolute;
  top: 113%;
}

.input-error {
  color: var(--text-color-error);
}

.date-input-container {
  grid-column: 2 / -1;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* INVITATION */
.invitation {
  display: flex;
  flex-direction: column;
  padding: 94px 312px;
  text-align: center;
}

.invitation-title {
  margin-bottom: 30px;
}

.invitation-disclaimer {
  margin-bottom: 55px;
  color: var(--text-color-secondary);
}

.main-container {
  flex-grow: 1;
}

.main-welcome-image::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  width: 100%;
  height: 57px;
  background-image: url('../images/divider.svg');
}

.modal-overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2cc;
}

/* NAVIGATION */
.navigation {
  width: calc(100% - 70px*2);
  display: flex;
  margin: 0 auto;
}

.navigation-button-action {
  display: block;
  min-width: 160px;
  margin-left: 20px;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-links {
  align-items: flex-end;
  margin-right: auto;
  padding: 0 17px;
  gap: 34px;
}

.navigation-links .navigation-link {
  display: inline-block;
  padding-bottom: 20px;
  color: var(--text-color-basic);
}

.navigation-link:hover,
.navigation-link:focus {
  color: #756157;
}

.navigation-link:active {
  color: #7561574d;
}

.navigation-link-current {
  box-shadow: inset 0px -2px 0px 0px #756257;
}

.navigation-link-search {
  background-image: url("../images/icons/search.svg");
}

.navigation-logo {
  position: relative;
  margin: 0 30px -5px 0;
  z-index: 1;
}

.navigation-link-favorites {
  position: relative;
  background-image: url("../images/icons/like.svg");
}

.navigation-user .navigation-link {
  display: block;
  width: 42px;
  height: 66px;
  background-repeat: no-repeat;
  background-position: center;
}

/* NEWSLETTER */
.newsletter {
  padding: 94px 200px;
  text-align: center;
}

.newsletter-with-background {
  color: var(--text-color-onbackground);
  background-image: url(../images/background-mountains_blurred.jpg);
  background-repeat: no-repeat;
}

.newsletter-button-subscribe {
  min-width: 200px;
  border-radius: 0px 10px 10px 0px;
}

.newsletter-disclaimer {
  display: inline-block;
  padding: 0 160px;
  margin-bottom: 45px;
}

.newsletter-form {
  display: flex;
}

.newsletter-form-input {
  flex-grow: 1;
  background-color: var(--form-element-secondary-background);
  font-size: 18px;
  line-height: 21px;
  border-radius: 10px 0 0 10px;
  padding: 20px 22px;
}

.newsletter-form-input::placeholder {
  color: #00000099;
}

.newsletter-title {
  margin-bottom: 30px;
}

.page-container {
  width: 1200px;
  background-color: var(--background-color-basic-1);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-header-logo {
  display: block;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.pagination {
  display: flex;
  gap: 8px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  color: var(--text-color-onbackground);
}

.pagination-container {
  display: flex;
  align-items: baseline;
}

.pagination-current {
  color: var(--text-color-basic);
  background-color: var(--form-element-secondary-background);
}

.price-option {
  color: var(--text-color-secondary);
  font-size: 18px;
  line-height: 21px;
}

/* RECOMMENDATIONS */
.recommendations-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: calc(100% / 3);
  padding: 80px 85px;
  text-align: center;
  background-color: var(--background-color-secondary-1);
}

.recommendations-item-center {
  background-color: var(--background-color-basic-1);
}

.recommendations-title {
  color: var(--text-color-basic);
}

.recommendations-description {
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color-secondary);
}

.recommendations-item-icon {
  width: 75px;
  height: 72px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.recommendations-list {
  display: flex;
}


/* SEARCH */
.searchbox-button-apply {
  margin-bottom: 20px;
  outline: none;
  min-width: 160px;
}

.searchbox-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.searchbox-buttons-container input[type="reset"] {
  background-color: transparent;
  color: #FFFFFF;
  padding: 0;
}

.searchbox-buttons-container input[type="reset"]:hover {
  color: var(--text-color-onbackground-hover);
}

.searchbox-buttons-container input[type="reset"]:focus {
  outline: 3px solid #83B3D3;
}

.searchbox-buttons-container input[type="reset"]:active {
  color: var(--text-color-active);
}

.search-filter {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.search-fieldset {
  border-style: none;
}

.search-fieldset-price {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-width: 290px;
}

.search-filter-price-range-container {
  display: flex;
  margin-bottom: 20px;
}

.select {
  appearance: none;
  background-image: url(../images/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
}

.select:hover,
.select:focus {
  border-color: var(--input-border-color-hover);
}

.select:active {
  border-color: var(--input-border-color-active)
}

.select:disabled {
  background-image: url(../images/icons/arrow-down-disabled.svg);
  border-color: #0000004d;
  color: #0000004d;
}


.price-input {
  flex: 1 1 auto;
    width: 0;
    min-width: 142px;
    background-color: transparent;
    padding: 14px 17px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--text-color-onbackground);
    border: 2px solid #FFFFFF;
}

.price-input-container:first-child .price-input {
  border-radius: 4px 0px 0px 4px;
  border-right: 2px solid #FFFFFF;
}

.price-input-container:last-child .price-input{
  border-radius: 0px 4px 4px 0px;
}

.price-input:focus {
  border: 2px solid #FFFFFF;
  box-shadow: 0px 0px 0px 3px #81B3D2;
}

.price-input:active {
  background-color: #756257;
}

.price-input:hover {
  border-color: #ffffff4d;
}

.price-input-container {
  position: relative;
}

.price-set {
  position: absolute;
  top: 15px;
  left: 110px;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff4d;
}

.search-filter-price-slider {
  min-height: 20px;
}

.search-filter-price-slider input[type=range] {
  box-sizing: border-box;
  appearance: none;
  width: 100%;
  margin: 0;
  overflow: hidden;
  border: 0;
  border-radius: 1px;
  outline: none;
  background: linear-gradient(white, white) no-repeat center;
  background-size: 100% 2px;
  pointer-events: none;
}


.search-filter-price-slider input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  appearance: none;
  pointer-events: all;
  box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
}

.search-filter-price-slider input[type=range]::-webkit-slider-thumb::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 13px;
  left: 100%;
  width: 2000px;
  height: 2px;
}

.search-filter-range-container {
  position: relative;
  height: 14px;
  width: 100%;
}

.search-filter-range-container input[type=range] {
  position: absolute;
}


.search-label {
  display: flex;
  gap: 19px;
  font-size: 18px;
  line-height: 21px;
}

.search-label input {
  width: 20px;
  appearance: none;
  background-color: var(--background-color-basic-1);
  margin: 0;
  cursor: pointer;
  box-shadow: none;
}

.search-label input:hover,
.search-label input:focus {
  background-color: var(--text-color-onbackground-hover);
}

.search-label input:focus {
  outline: 3px solid #83B3D3;
}

.search-label input[type="checkbox"] {
  border-radius: 4px;
}

.search-label input[type="checkbox"]:checked {
  background-image: url("../images/icons/checkbox-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.search-label input[type="radio"]:checked {
  background-image: url("../images/icons/radio-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.search-label input[type="radio"] {
  border-radius: 50%;
}

.search-results {
  padding: 50px 70px 25px;
}

.search-results-price {
  min-width: 290px;
  margin-right: 78px;
  padding: 14px 20px;
  border: 2px solid var(--form-element-primary-color);
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.search-results-total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
}

.search-results-sorting-container {
  display: flex;
}

.search-results-view-toggler {
  display: flex;
  gap: 8px;
}

.welcome {
  position: relative;
  text-align: center;
  padding: 51px 0 82px;
  background-image: url(../images/background-canyon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
